@charset "utf-8";

body{
   background-color: #efefef; 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px; 
}

h1{
   font-size: 60px;
   text-align: center;
}
h2{
   font-size: 45px;
   text-align: center;
}
h3{
    font-size: 26px;
    text-align: center;
}
h6{
    font-size: 12px;
    text-align: center;
}

p{
text-align: justify;
padding-left: 30px;
padding-right: 30px;

}

nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 100;
}

nav#menu li{
    display: inline-block;
    background-color: rgb(226, 82, 82);
    padding: 10px;
    margin: 2px;
    text-align: center;
    transition:background-color 1s;
}

nav#menu li:hover {
    background-color: #611616;
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: #efefef;
    text-decoration: none;
}

nav#menu a:hover {
    color: #1403f8
}

figure.logo-inicial {
    text-align: center;
    border: 4px solid white;
    box-shadow: 3px 3px 12px black;
    
}

figure.logo-fatec-paginas {
    text-align: center;
    border: 4px solid white;
    box-shadow: 3px 3px 12px black;
}

div#corpo {
    width: 1000px;
    background-color: #ffffff;
    margin:20px auto 10px auto;
    box-shadow: 0px 0px 10px black;
    padding:  20px;
}
header#submenu img#estudante {
    position: absolute;
    left: 750px;
    top: 390px;
}
header#submenu img#pessoas {
    position: absolute;
    left: 900px;
    top: 265px;
}
header#submenu img#marketing {
    position: absolute;
    left: 900px;
    top: 265px;
}
header#submenu img#financeira {
    position: absolute;
    left: 900px;
    top: 280px;
}
header#submenu img#ingles {
    position: absolute;
    left: 900px;
    top: 280px;
}
header#submenu img#prginternet {
    position: absolute;
    left: 940px;
    top: 280px;
}
header#submenu img#redescomputadores {
    position: absolute;
    left: 940px;
    top: 280px;
}

header#usuarioesenha {
    margin: auto auto auto 400px;
}

header#usuarioesenha input#btnAutenticar {
    margin: auto auto auto 140px;
}

table#quadrodoaluno {
    background-color: #ecbfbf;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 12px black;
    margin: auto auto auto 250px;
}
table#quadrodoaluno tr#menuquadro {
    background-color: #dddddd;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 12px black;
    margin: auto auto auto 250px;
}
table#quadrodoaluno tr#gestaodepessoas{
    background-color: #d9f2fc;
    text-align: center;
    box-shadow: 3px 3px 12px black;
    margin: auto auto auto 250px;
}
table#quadrodoaluno tr#ingles{
    background-color: #d9f2fc;
    text-align: center;
    box-shadow: 3px 3px 12px black;
    margin: auto auto auto 250px;
}
table#quadrodoaluno tr#redesdecomputadores{
    background-color: #d9f2fc;
    text-align: center;
    box-shadow: 3px 3px 12px black;
    margin: auto auto auto 250px;
}    

nav#menufoot {
    display: block;
}
nav#menufoot ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    float: 10px;
    left: 100px;
}

nav#menufoot li{
    display: inline-block;
    background-color: rgba(218, 168, 168, 6);
    padding: 10px;
    margin: 2px;
    text-align: center;
    transition:background-color 1s;
}

nav#menufoot li:hover {
    background-color: #7a885d;
}

nav#menufoot h1{
    display: none;
}

nav#menufoot a {
    color: #efefef;
    text-decoration: none;
}

nav#menufoot a:hover {
    color: #bbfff6
}